n8n/workflows/KRAI-Agent.json
{
  "name": "KRAI-Agent",
  "nodes": [
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1184,
        240
      ],
      "id": "94b75d8b-7656-4248-af51-6b502a0191e7",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "tableName": "vw_agent_memory",
        "sessionIdKey": "session_id",
        "messageKey": "message",
        "roleKey": "role",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1344,
        224
      ],
      "id": "c51e2521-2086-4880-8680-2de140e737c0",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "B0uJAfAUAdsgXNJd",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        48
      ],
      "id": "09fbda99-6679-4caf-be9b-1a4ed5b8e487",
      "name": "When chat message received",
      "webhookId": "ee735bd8-0333-40b8-b43c-5da5fce5f385"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "krai_intelligence",
        "toolDescription": "Durchsuche die KRAI Dokumentation und technische Handbücher. Nutze dieses Tool für:\n- Fehlercode-Informationen (z.B. 'Error E045', 'Fehler 13.01')\n- Reparatur-Anleitungen\n- Technische Spezifikationen\n- Wartungshinweise\n- Bedienungsanleitungen\n\nGib relevante Suchbegriffe ein (z.B. 'HP LaserJet paper jam', 'Toner wechseln', 'Error code E045').",
        "tableName": {
          "__rl": true,
          "value": "chunks",
          "mode": "list",
          "cachedResultName": "chunks"
        },
        "topK": 5,
        "options": {
          "queryName": "text_chunk"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1584,
        192
      ],
      "id": "8bc41617-cabb-4bcc-8794-1fe59d76a31a",
      "name": "KRAI Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "VOEfJ5TSCcCT8bKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "get_system_status",
        "description": "Ruft den aktuellen System-Status ab mit Statistiken über:\n- Anzahl Dokumente (gesamt, verarbeitet, pending)\n- Anzahl Chunks, Bilder, Embeddings\n- Anzahl Produkte und Hersteller\n- Verarbeitungs-Queue Status",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "status_data",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1488,
        384
      ],
      "id": "c06095bf-e909-4ed7-a744-018935057dbb",
      "name": "Tool: System Status"
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1728,
        400
      ],
      "id": "c45259a5-99fc-456d-a11d-c7b60444aac2",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Du bist der KRAI AI Agent - ein intelligenter technischer Assistent für Service-Dokumentation.\n\nDeine Aufgaben:\n- Hilfe bei technischen Fragen zu Druckern, Kopierern und Geräten\n- Fehlercode-Analyse und Troubleshooting\n- Modell-Informationen und Spezifikationen\n- System-Status und Statistiken\n\nDu hast Zugriff auf:\n1. **Vector Search Tool (krai_intelligence)** - Durchsucht technische Dokumentation\n2. **Supabase Datenbank** - Produkte, Fehler-Codes, Dokumente\n\nAntworte immer:\n- Auf Deutsch\n- Präzise und hilfreich\n- Mit Quellenangaben wenn möglich\n- Strukturiert (mit Listen/Aufzählungen)\n\nWenn du keine Information findest, sage es ehrlich und schlage Alternativen vor."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1280,
        -48
      ],
      "id": "a2792575-98cf-4926-a97b-07383ac31d4e",
      "name": "KRAI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "KRAI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "KRAI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "KRAI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KRAI Vector Store": {
      "ai_tool": [
        [
          {
            "node": "KRAI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: System Status": {
      "ai_tool": [
        [
          {
            "node": "KRAI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "KRAI Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "KRAI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f81dd06b-2f0a-44a5-a0fb-299bc4e542aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6c1a437e8b16512082bde84b62b61f6117713bbbdf560b47f5bdf35aa8946c8"
  },
  "id": "knAekRnRPwTmKtiU",
  "tags": [
    {
      "createdAt": "2025-10-01T08:55:50.182Z",
      "updatedAt": "2025-10-01T08:55:50.182Z",
      "id": "3EYRCFus6bTqMzRi",
      "name": "KRAI Chat Agent"
    },
    {
      "createdAt": "2025-10-01T09:17:16.046Z",
      "updatedAt": "2025-10-01T09:17:16.046Z",
      "id": "zLgTPpuYFmeZKZVU",
      "name": "KRAI AI Agent"
    }
  ]
}