n8n/workflows/archive/v2/Technician-Agent V2.1.json
{
  "name": "Technician-Agent V2.1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "777fdbe0-a052-4a9b-a1fe-c162d068e7a4",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1072,
        -144
      ],
      "typeVersion": 1.3,
      "webhookId": "184a5522-07b3-4e34-9a04-84022fdd0469"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "##Role\nYou are a Technical Support Assistant that helps technicians diagnose and fix printer/copier issues.\n\n##Task\nYour task is to take the user's question and delegate it to the correct tool. You MUST use the tools to answer - NEVER answer directly from your knowledge.\n\nTools you can call:\n- search_error_codes: Use when user mentions an error code or error number\n- search_service_manuals: Use for 'how to' questions, repair procedures, or technical specifications\n\n##Critical Rules\n1. ALWAYS call a tool - NEVER answer without calling a tool first\n2. Use ONLY the information returned by the tool\n3. NEVER add information not in the tool response\n4. NEVER make assumptions or guesses\n5. If tool returns no results: Say \"Keine Informationen gefunden\"\n\n##Response Format (Error Codes)\nWhen tool returns data, format in German:\n**Fehlercode:** [error_code]\n**Beschreibung:** [description]\n**Lösung:** [solution]\n**Quelle:** Seite [page_number]"
        }
      },
      "id": "54054600-efda-4134-abf9-806322f94ec2",
      "name": "Main Coordinator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -816,
        -144
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "84ca7f2e-610c-453d-9913-9362f017a890",
      "name": "Main LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -1344,
        112
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "30fd8ede-a142-4e69-b64b-dcdfcde2787d",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        -1168,
        112
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "B0uJAfAUAdsgXNJd",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "##Role\nYou are an Error Code Specialist.\n\n##Task\nYour ONLY job is to call the Search Error Codes tool and format the response.\n\n##Critical Rules\n1. ALWAYS call the Search Error Codes tool (no parameters needed - it uses the user's message automatically)\n2. Use ONLY the data returned by the tool\n3. NEVER make up information\n4. If tool returns empty results: Say \"Fehlercode nicht in der Datenbank gefunden\"\n\n##Response Format\nWhen tool returns data, format in German:\n**Fehlercode:** [error_code]\n**Beschreibung:** [description]\n**Lösung:** [solution]\n**Quelle:** Seite [page_number]\n\nIMPORTANT: The tool automatically extracts the error code from the user's message. Just call it!"
        }
      },
      "id": "57157975-28c3-47bf-a6df-5f13ff41da36",
      "name": "error_code_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -752,
        528
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a **Video Tutorial Specialist**.\n\nYour task: Find relevant repair videos using the search_database tool.\n\nWhen called with a search_term, you MUST:\n1. Call the search_database tool\n2. Format the response in German:\n\n**Video:** [title]\n**Link:** [URL]\n**Beschreibung:** [what the video shows]\n**Dauer:** [length]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Provide working video links\n- ✅ Describe what the video shows\n- ❌ NEVER make up video links\n- ❌ If not found, say so clearly"
        }
      },
      "id": "bbf8f2f1-36f4-4fb6-bbdc-8a59f358ca3b",
      "name": "video_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -1040,
        224
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "c1730fb2-7df3-45dd-8e3f-0e5bb6e10645",
      "name": "Error Code LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -784,
        752
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "7b1ccca2-a9e1-4654-890e-1f8ecfae0922",
      "name": "Parts LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -624,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "e47ca387-efc9-40a9-b0a5-f1993fcfceec",
      "name": "Video LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -1040,
        416
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/search/error-codes",
        "sendQuery": true,
        "specifyInputSchema": true,
        "inputSchemaJson": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"query\": {\n      \"type\": \"string\",\n      \"description\": \"The search query (error code, manufacturer, model)\"\n    }\n  }\n}",
        "parametersQuery": {
          "values": [
            {
              "name": "q",
              "value": "={{ $json.query || $('When chat message received').first().json.chatInput }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        }
      },
      "id": "4315140c-f5df-4fb7-b56c-c015144f225b",
      "name": "Search Error Codes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        -576,
        752
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/search/parts?q={{ $json.search_term }}{{ $json.manufacturer ? '&manufacturer=' + $json.manufacturer : '' }}&limit=10"
      },
      "id": "0a98a4ee-26be-4e45-bbcb-3543d00ebf27",
      "name": "Search Parts",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        -416,
        432
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/search/videos?q={{ $json.search_term }}{{ $json.manufacturer ? '&manufacturer=' + $json.manufacturer : '' }}&limit=10"
      },
      "id": "ed2fd0a5-6ca5-4698-a6df-8e86b86177a4",
      "name": "Search Videos",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        -896,
        416
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "tableName": "krai_intelligence.chunks",
        "options": {
          "queryName": "match_chunks"
        }
      },
      "id": "2a50ddff-71e2-4471-b27a-4b07ba69c4e1",
      "name": "Search Manuals Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -256,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "VOEfJ5TSCcCT8bKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "b85b7058-5db2-4f91-b8c8-7cc1cd35344e",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "position": [
        -208,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "description": "Search service manuals and technical documentation using semantic search. Use this for 'how to' questions, repair procedures, technical specifications, or any question about device maintenance. Input: your question in natural language (e.g., 'How to replace fuser unit on HP E877?')"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -192,
        64
      ],
      "id": "46d424e8-72ac-4592-adb3-4e3110adb031",
      "name": "Search Service Manuals"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        64,
        224
      ],
      "id": "d33d0870-83c6-42ee-a714-00907e97dd9f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a **Spare Parts Specialist**.\n\nYour task: Find exact part numbers and compatibility using the search_database tool.\n\nWhen called with a search_term, you MUST:\n1. Call the search_database tool\n2. Format the response in German:\n\n**Ersatzteil:** [part name]\n**Teilenummer:** [part number]\n**Beschreibung:** [what it does]\n**Kompatible Modelle:** [compatible devices]\n**Quelle:** [catalog, page]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Provide exact part numbers\n- ✅ List compatible models\n- ✅ Cite sources\n- ❌ NEVER make up part numbers\n- ❌ If not found, suggest alternatives"
        }
      },
      "id": "a9f3ae38-20a4-4f83-9bfc-34e231ea25f8",
      "name": "parts_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -560,
        160
      ],
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "error_code_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "video_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Error Code LLM": {
      "ai_languageModel": [
        [
          {
            "node": "error_code_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parts LLM": {
      "ai_languageModel": [
        [
          {
            "node": "parts_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Video LLM": {
      "ai_languageModel": [
        [
          {
            "node": "video_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Error Codes": {
      "ai_tool": [
        [
          {
            "node": "error_code_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Parts": {
      "ai_tool": [
        [
          {
            "node": "parts_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Videos": {
      "ai_tool": [
        [
          {
            "node": "video_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Search Manuals Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Search Manuals Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Search Service Manuals",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Search Service Manuals": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search Service Manuals",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "parts_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9203be6-1165-4158-a5f5-7b3a7a6b65c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6c1a437e8b16512082bde84b62b61f6117713bbbdf560b47f5bdf35aa8946c8"
  },
  "id": "bsDbJBLnO3vcs9ga",
  "tags": [
    {
      "createdAt": "2025-10-11T13:40:56.528Z",
      "updatedAt": "2025-10-11T13:40:56.528Z",
      "id": "QjiVLirWz05tDi0F",
      "name": "KRAI"
    },
    {
      "createdAt": "2025-10-11T13:42:17.259Z",
      "updatedAt": "2025-10-11T13:42:17.259Z",
      "id": "pKu5r2VTi4SrcITz",
      "name": "Production"
    }
  ]
}