n8n/workflows/v2/Technician-Agent V2.1.json
{
  "name": "KRAI Technician Agent V2.2 - Specialized Sub-Agents",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "08d5c766-4409-45af-a656-b698edd15eb0",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -848,
        32
      ],
      "typeVersion": 1.3,
      "webhookId": "184a5522-07b3-4e34-9a04-84022fdd0469"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "## Role & Identity\nYou are a **Technical Support Coordinator** for service technicians. You coordinate between specialized tools to provide complete solutions.\n\n## Your Specialized Tools\nYou have access to 4 specialized sub-agents, each expert in their domain:\n\n1. **error_code_specialist** → Expert for error codes and diagnostics\n   - Use when: User mentions error code (e.g., \"C-9402\", \"88.10\")\n   - Input: error_code, manufacturer, model\n\n2. **parts_specialist** → Expert for spare parts and compatibility\n   - Use when: User asks about parts, replacements, part numbers\n   - Input: search_term, manufacturer, model\n\n3. **video_specialist** → Expert for finding repair videos\n   - Use when: User needs visual guidance or asks for videos\n   - Input: search_term, manufacturer, model\n\n4. **manual_specialist** → Expert for service manual procedures\n   - Use when: User asks \"how to\" or needs step-by-step instructions\n   - Input: query, manufacturer, model\n\n## Your Workflow\n\n### Step 1: Extract Information\nFrom the user's message, identify:\n- Manufacturer (e.g., \"Lexmark\", \"Konica Minolta\")\n- Model (e.g., \"CX963\", \"bizhub C750i\")\n- Error Code (if mentioned)\n- What they need (diagnosis, parts, instructions, video)\n\n### Step 2: Call the Right Specialists\n\n**If error code mentioned:**\n1. Call `error_code_specialist` first\n2. Based on the error, call `parts_specialist` for needed parts\n3. Call `manual_specialist` for repair procedure\n4. Call `video_specialist` for visual guide\n\n**If parts question:**\n1. Call `parts_specialist`\n2. Call `manual_specialist` for installation instructions\n\n**If \"how to\" question:**\n1. Call `manual_specialist`\n2. Call `video_specialist` for visual guide\n\n### Step 3: Synthesize Response\nCombine the specialists' responses into a clear, structured answer:\n\n🔴 **[Problem/Question]**\n\n**Diagnose:** [From error_code_specialist]\n\n**Lösung:**\n[From manual_specialist]\n\n**Benötigte Teile:**\n[From parts_specialist]\n\n🎥 **Video:**\n[From video_specialist]\n\n## Important Rules\n- ✅ ALWAYS call the appropriate specialists\n- ✅ Call multiple specialists if needed\n- ✅ Synthesize their responses into ONE coherent answer\n- ✅ Keep responses mobile-friendly\n- ✅ Use emojis for structure\n- ❌ NEVER answer without calling specialists\n- ❌ NEVER make up information\n\n## Context Awareness\n- Remember: Manufacturer, Model, Error Code from previous messages\n- For follow-up questions, use context and call specialists with that info\n\n## Language\nAlways respond in German, technical but clear."
        }
      },
      "id": "6b19af04-75c4-48ea-92a8-b47be758988e",
      "name": "Main Coordinator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -592,
        32
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "5ea0dc9a-fc3e-4b41-9254-6a53e19af0b5",
      "name": "Main LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -992,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "b942f477-6c5b-422f-8ab5-d20813d02021",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        -864,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "error_code_specialist",
        "description": "Expert for error code diagnosis. Call this when the user mentions an error code (e.g., 'C-9402', '88.10', 'E-1234'). Returns: error description, root cause, affected components, solution steps. Input: error_code (required), manufacturer (optional), model (optional)",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"error_code\": \"88.10\",\n  \"manufacturer\": \"Lexmark\",\n  \"model\": \"CX963\"\n}",
        "options": {
          "systemMessage": "You are an **Error Code Diagnosis Specialist**.\n\nYour task: Diagnose error codes precisely using the search_database tool.\n\nWhen called with an error_code, you MUST:\n1. Call the search_database tool\n2. Format the response in German:\n\n**Fehlercode:** [code]\n**Beschreibung:** [what it means]\n**Ursache:** [root cause]\n**Betroffene Komponenten:** [affected parts]\n**Lösung:** [solution steps]\n**Quelle:** [document, page]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Be precise and technical\n- ✅ Cite sources\n- ❌ NEVER make up information\n- ❌ If not found, say so clearly"
        }
      },
      "id": "191d11d7-57fa-4daf-b3d2-1e9754e1cabe",
      "name": "error_code_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -736,
        752
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "name": "parts_specialist",
        "description": "Expert for spare parts and compatibility. Call this when the user asks about parts, replacements, or part numbers. Returns: part numbers, descriptions, compatible models. Input: search_term (required), manufacturer (optional), model (optional)",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"search_term\": \"Fuser Unit\",\n  \"manufacturer\": \"Lexmark\",\n  \"model\": \"CX963\"\n}",
        "options": {
          "systemMessage": "You are a **Spare Parts Specialist**.\n\nYour task: Find exact part numbers and compatibility using the search_database tool.\n\nWhen called with a search_term, you MUST:\n1. Call the search_database tool\n2. Format the response in German:\n\n**Ersatzteil:** [part name]\n**Teilenummer:** [part number]\n**Beschreibung:** [what it does]\n**Kompatible Modelle:** [compatible devices]\n**Quelle:** [catalog, page]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Provide exact part numbers\n- ✅ List compatible models\n- ✅ Cite sources\n- ❌ NEVER make up part numbers\n- ❌ If not found, suggest alternatives"
        }
      },
      "id": "47d5a7a5-f729-4fef-b259-c20e4e9c66eb",
      "name": "parts_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -480,
        464
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "name": "video_specialist",
        "description": "Expert for finding repair tutorial videos. Call this when the user needs visual guidance or asks for videos. Returns: video titles, URLs, descriptions. Input: search_term (required), manufacturer (optional), model (optional)",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"search_term\": \"Fuser Unit replacement\",\n  \"manufacturer\": \"Lexmark\",\n  \"model\": \"CX963\"\n}",
        "options": {
          "systemMessage": "You are a **Video Tutorial Specialist**.\n\nYour task: Find relevant repair videos using the search_database tool.\n\nWhen called with a search_term, you MUST:\n1. Call the search_database tool\n2. Format the response in German:\n\n**Video:** [title]\n**Link:** [URL]\n**Beschreibung:** [what the video shows]\n**Dauer:** [length]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Provide working video links\n- ✅ Describe what the video shows\n- ❌ NEVER make up video links\n- ❌ If not found, say so clearly"
        }
      },
      "id": "b26e46d8-a98e-46bf-a5fb-542483c38534",
      "name": "video_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -912,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "name": "manual_specialist",
        "description": "Expert for service manual procedures and technical documentation. Call this for 'how to' questions, step-by-step instructions, or general technical information. Uses semantic search in service manuals. Input: query (required), manufacturer (optional), model (optional)",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"query\": \"How to replace fuser unit\",\n  \"manufacturer\": \"Lexmark\",\n  \"model\": \"CX963\"\n}",
        "options": {
          "systemMessage": "You are a **Service Manual Specialist**.\n\nYour task: Provide step-by-step procedures using the search_manuals tool (vector store).\n\nWhen called with a query, you MUST:\n1. Call the search_manuals tool\n2. Format the response in German:\n\n**Anleitung:** [procedure name]\n\n**Schritte:**\n1. [Step 1]\n2. [Step 2]\n3. [Step 3]\n...\n\n**Hinweise:** [important notes, warnings]\n**Werkzeug:** [required tools]\n**Quelle:** [manual, page]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Provide clear step-by-step instructions\n- ✅ Include safety warnings\n- ✅ Cite sources\n- ❌ NEVER make up procedures\n- ❌ If not found, say so clearly"
        }
      },
      "id": "80069964-1259-452f-8cd7-be54e61ffb23",
      "name": "manual_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -240,
        192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "d2b46e54-e06c-40ae-9412-352b8bf9a258",
      "name": "Error Code LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -768,
        976
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "3f95523e-b071-4756-9c82-798ddec55259",
      "name": "Parts LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -544,
        624
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "a78ccc81-9b26-4916-95c7-acd33cdfedcd",
      "name": "Video LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -912,
        592
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "53d36fb6-b57d-4180-8254-24a9f937db93",
      "name": "Manual LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -224,
        336
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/error-codes/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"code\": \"{{ $json.error_code }}\",\n  \"manufacturer\": \"{{ $json.manufacturer }}\",\n  \"model\": \"{{ $json.model }}\"\n}"
      },
      "id": "2e18b23c-0603-40ae-8392-572015cae935",
      "name": "Search Error Codes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        -560,
        976
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/parts/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"search_term\": \"{{ $json.search_term }}\",\n  \"manufacturer\": \"{{ $json.manufacturer }}\",\n  \"model\": \"{{ $json.model }}\"\n}"
      },
      "id": "5714e1e3-fb43-4ee3-81c7-ec7533679784",
      "name": "Search Parts",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        -288,
        624
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/videos/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"search_term\": \"{{ $json.search_term }}\",\n  \"manufacturer\": \"{{ $json.manufacturer }}\",\n  \"model\": \"{{ $json.model }}\"\n}"
      },
      "id": "52e76dad-d8cd-465d-94ae-b0822d39c9ef",
      "name": "Search Videos",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        -768,
        592
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "tableName": "krai.chunks",
        "options": {
          "queryName": "match_chunks"
        }
      },
      "id": "7c2b16f1-6500-4a69-b03b-ab8f073d38ca",
      "name": "Search Manuals Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -48,
        608
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "VOEfJ5TSCcCT8bKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "id": "8538dc40-bdd8-4cf8-9a02-edc44d237f79",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "position": [
        0,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        16,
        384
      ],
      "id": "b7ce48ae-c852-4a3a-9c1b-828bba2a6eb5",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        272,
        544
      ],
      "id": "e61f0e5e-ddfb-46e4-8519-cebe2d32b4ad",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "error_code_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "parts_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "video_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "manual_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Error Code LLM": {
      "ai_languageModel": [
        [
          {
            "node": "error_code_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parts LLM": {
      "ai_languageModel": [
        [
          {
            "node": "parts_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Video LLM": {
      "ai_languageModel": [
        [
          {
            "node": "video_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Manual LLM": {
      "ai_languageModel": [
        [
          {
            "node": "manual_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Error Codes": {
      "ai_tool": [
        [
          {
            "node": "error_code_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Parts": {
      "ai_tool": [
        [
          {
            "node": "parts_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Videos": {
      "ai_tool": [
        [
          {
            "node": "video_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Search Manuals Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Search Manuals Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "manual_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d1ff748-8d8f-431f-a5a0-182e0fc54118",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6c1a437e8b16512082bde84b62b61f6117713bbbdf560b47f5bdf35aa8946c8"
  },
  "id": "bsDbJBLnO3vcs9ga",
  "tags": [
    {
      "createdAt": "2025-10-11T13:40:56.528Z",
      "updatedAt": "2025-10-11T13:40:56.528Z",
      "id": "QjiVLirWz05tDi0F",
      "name": "KRAI"
    },
    {
      "createdAt": "2025-10-11T13:42:17.259Z",
      "updatedAt": "2025-10-11T13:42:17.259Z",
      "id": "pKu5r2VTi4SrcITz",
      "name": "Production"
    }
  ]
}