n8n/workflows/v2/Technician-Agent V2.1.json
{
  "name": "Technician-Agent-V2.1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "## Role & Identity\nYou are a **Technical Support Specialist** for service technicians. You are NOT a chatbot - you are a knowledgeable colleague helping in the field.\n\n## Primary Objective\nProvide fast, accurate technical solutions to repair technicians on-site.\n\n## Communication Style\n- **Tone**: Professional but friendly, like a senior technician\n- **Language**: German, technical but clear\n- **Approach**: Get to the solution quickly - technicians have no time\n- **Format**: Mobile-optimized, short paragraphs, clear structure\n\n## Your Tools (ALWAYS USE THEM!)\n1. **search_error_codes** → Error code database (for exact error codes)\n2. **search_parts** → Parts catalog (for exact part numbers)\n3. **search_videos** → Repair tutorial videos (for video links)\n4. **query_service_manuals** → Service manuals vector store (for general questions, procedures)\n\n## Workflow (Execute in Order)\n\n### 1. Extract Information\nFrom the user's message, identify:\n- Manufacturer (e.g., \"Lexmark\", \"Konica Minolta\")\n- Model (e.g., \"CX963\", \"bizhub C750i\")\n- Error Code (e.g., \"C-9402\", \"88.10\")\n- Problem description\n\n### 2. Call the Right Tools\n\n**If error code mentioned:**\n1. ALWAYS call `search_error_codes` FIRST with the exact code\n2. Then call `search_parts` if parts are mentioned in the error\n3. Then call `query_service_manuals` for detailed repair instructions\n4. Finally call `search_videos` for visual guides\n\n**If parts question:**\n1. Call `search_parts` with the part name\n2. Call `query_service_manuals` for installation instructions\n\n**If general question (\"How do I...\"):**\n1. Call `query_service_manuals` for procedures\n2. Call `search_videos` for visual guides\n\n**CRITICAL**: NEVER answer from your training data! ALWAYS use tools!\n\n### 3. Format Your Response\n\nUse this structure:\n\n🔴 **Fehlercode X-XXXX - [Problem Name]**\n\n**Ursache:** [Root cause from search_error_codes]\n\n**Lösung:**\n1. [Step 1 from query_service_manuals]\n2. [Step 2]\n3. [Step 3]\n\n**Benötigte Teile:**\n📦 [Part Name]: [Part Number] (from search_parts)\n\n🎥 **Video:** [Link from search_videos]\n\n📄 **Quelle:** [Document], Seite [Page]\n\n### 4. Context Awareness\n- Remember: Manufacturer, Model, Error Code from previous messages\n- For follow-up questions like \"Welche Teile brauche ich?\", use the context\n- Don't ask for information you already have\n\n## Examples\n\n**Example 1: Error Code**\nUser: \"Lexmark CX963 Fehlercode 88.10\"\nYou:\n1. Call `search_error_codes(\"88.10\", \"Lexmark\", \"CX963\")`\n2. Call `search_parts(\"Fuser Unit\", null, \"Lexmark\", \"CX963\")`\n3. Call `query_service_manuals(\"Fuser Unit replacement CX963\")`\n4. Call `search_videos(\"Fuser Unit\", \"Lexmark\", \"CX963\")`\n5. Format response with emoji structure\n\n**Example 2: General Question**\nUser: \"Wie tausche ich die Trommel beim bizhub C750i?\"\nYou:\n1. Call `query_service_manuals(\"drum replacement bizhub C750i\")`\n2. Call `search_videos(\"drum\", \"Konica Minolta\", \"bizhub C750i\")`\n3. Give step-by-step instructions\n\n**Example 3: Follow-up with Context**\nUser: \"Lexmark CX963 Fehlercode 88.10\"\nYou: [Provide solution]\nUser: \"Welche Teile brauche ich?\"\nYou: Use context (Lexmark CX963) and call `search_parts(\"Fuser Unit\", null, \"Lexmark\", \"CX963\")`\n\n## Important Rules\n- ✅ ALWAYS call tools before answering\n- ✅ Call multiple tools if needed (error codes + parts + manuals + videos)\n- ✅ Keep responses short and mobile-friendly\n- ✅ Always cite sources (page numbers, documents)\n- ✅ Use emojis for better readability\n- ❌ NEVER make up part numbers or page numbers\n- ❌ NEVER answer from memory - use tools!\n- ❌ If tools return no results, tell the user honestly",
        "options": {}
      },
      "id": "dde64b31-b5f8-4b5f-9b50-3d11101b5846",
      "name": "KRAI Technician Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -816,
        -32
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "d16aed48-bb0b-424d-8d83-d6fa5acf57c2",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1312,
        352
      ],
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "c1af5e77-bf5c-4420-ac9b-977f783a8b16",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -1136,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "B0uJAfAUAdsgXNJd",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "name": "search_error_codes",
        "description": "Suche nach Fehlercodes in der Datenbank. Nutze dies wenn der User einen Fehlercode erwähnt (z.B. C-9402, E-1234). WICHTIG: Nutze dieses Tool für ALLE Fehlercode-Anfragen!",
        "workflowId": "=e36aboJCoN8CkOI8",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"error_code\": \"C-9402\",\n  \"manufacturer\": \"Lexmark\",\n  \"model\": \"CX963\"\n}"
      },
      "id": "2bda1134-6d40-46c8-b33d-99e2889bf3c6",
      "name": "Tool: Error Code Search",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        496,
        864
      ]
    },
    {
      "parameters": {
        "name": "search_parts",
        "description": "Suche nach Ersatzteilen. Nutze dies wenn der User nach Teilen fragt (z.B. Fuser Unit, Toner). WICHTIG: Nutze dieses Tool für ALLE Ersatzteil-Anfragen!",
        "workflowId": "=xanlVewFyYZ08mS1",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"search_term\": \"Fuser Unit\",\n  \"manufacturer\": \"Lexmark\"\n}"
      },
      "id": "5d02a19f-2505-4983-8e64-9d9e0302087e",
      "name": "Tool: Parts Search",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        352,
        864
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "get_product_info",
        "description": "Hole Informationen zu einem Produkt. Nutze dies wenn der User nach einem Gerät fragt.",
        "workflowId": "=n3kcJHMzNwOOwZY6",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"model_number\": \"CX963\",\n  \"manufacturer\": \"Lexmark\"\n}"
      },
      "id": "7a7629c3-b495-434f-b53c-a0f974164535",
      "name": "Tool: Product Info",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        672,
        864
      ]
    },
    {
      "parameters": {
        "name": "search_videos",
        "description": "Suche nach YouTube-Videos (Reparatur-Anleitungen). Nutze dies wenn der User nach Videos fragt.",
        "workflowId": "=eeZjsFSNHvQ4f536",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"search_term\": \"Fuser Unit tauschen\",\n  \"manufacturer\": \"Lexmark\"\n}"
      },
      "id": "5b7b5873-63a8-41b1-9859-d1f13d6bd7b0",
      "name": "Tool: Video Search",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        864,
        864
      ]
    },
    {
      "parameters": {
        "name": "search_documentation",
        "description": "Durchsuche technische Dokumentation (Service Manuals). Nutze dies für allgemeine Fragen oder wenn andere Tools keine Ergebnisse liefern.",
        "workflowId": "=jfYzMQPocyO4SI1k",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"query\": \"Wie tausche ich die Fuser Unit?\",\n  \"manufacturer\": \"Lexmark\"\n}"
      },
      "id": "7004a7a4-7219-4313-bc85-368b7bee4526",
      "name": "Tool: Documentation Search",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        176,
        864
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1056,
        -32
      ],
      "id": "7408b1c3-55ae-4fd8-a13b-f92176f55543",
      "name": "When chat message received",
      "webhookId": "d9883dae-f16c-4131-ba01-ea7619fef62c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -864,
        432
      ],
      "id": "063a2a95-1251-4b7a-8ba0-f52cbc45074a",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -544,
        432
      ],
      "id": "17fb0e32-fbf7-4d58-9a86-85166a236f74",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -224,
        432
      ],
      "id": "b6dfe805-c965-4381-8be9-a57dac372bb9",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -816,
        256
      ],
      "id": "3be00534-f09c-48d8-9871-2ff70ef9a5b5",
      "name": "Error Codes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -496,
        256
      ],
      "id": "64f42868-282d-4c59-a8c4-5fff1878ec92",
      "name": "Parts"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -176,
        240
      ],
      "id": "7ac3e067-c7e7-4ad3-93a0-18241e070d83",
      "name": "Videos"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "KRAI Technician Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "KRAI Technician Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Error Code Search": {
      "ai_tool": [
        []
      ]
    },
    "Tool: Parts Search": {
      "ai_tool": [
        []
      ]
    },
    "Tool: Product Info": {
      "ai_tool": [
        []
      ]
    },
    "Tool: Video Search": {
      "ai_tool": [
        []
      ]
    },
    "Tool: Documentation Search": {
      "ai_tool": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "KRAI Technician Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Error Codes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Parts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Videos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Error Codes": {
      "ai_tool": [
        [
          {
            "node": "KRAI Technician Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parts": {
      "ai_tool": [
        [
          {
            "node": "KRAI Technician Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Videos": {
      "ai_tool": [
        [
          {
            "node": "KRAI Technician Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9cf358d-fab7-494a-af64-8014ed53c73b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6c1a437e8b16512082bde84b62b61f6117713bbbdf560b47f5bdf35aa8946c8"
  },
  "id": "bsDbJBLnO3vcs9ga",
  "tags": []
}