n8n/workflows/v2/Technician-Agent V2.1.json
{
  "name": "KRAI Technician Agent V2.2 - Specialized Sub-Agents",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "01ce13bc-f351-4860-98a3-127b5ca322c8",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -512,
        -160
      ],
      "typeVersion": 1.3,
      "webhookId": "184a5522-07b3-4e34-9a04-84022fdd0469"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "## Role & Identity\nYou are a **Technical Support Coordinator** for service technicians. You coordinate between specialized tools to provide complete solutions.\n\n## Your Specialized Tools\nYou have access to 4 specialized sub-agents, each expert in their domain:\n\n1. **error_code_specialist** → Expert for error codes and diagnostics\n   - Use when: User mentions error code (e.g., \"C-9402\", \"88.10\")\n   - Input: error_code, manufacturer, model\n\n2. **parts_specialist** → Expert for spare parts and compatibility\n   - Use when: User asks about parts, replacements, part numbers\n   - Input: search_term, manufacturer, model\n\n3. **video_specialist** → Expert for finding repair videos\n   - Use when: User needs visual guidance or asks for videos\n   - Input: search_term, manufacturer, model\n\n4. **manual_specialist** → Expert for service manual procedures\n   - Use when: User asks \"how to\" or needs step-by-step instructions\n   - Input: query, manufacturer, model\n\n## Your Workflow\n\n### Step 1: Extract Information\nFrom the user's message, identify:\n- Manufacturer (e.g., \"Lexmark\", \"Konica Minolta\")\n- Model (e.g., \"CX963\", \"bizhub C750i\")\n- Error Code (if mentioned)\n- What they need (diagnosis, parts, instructions, video)\n\n### Step 2: Call the Right Specialists\n\n**If error code mentioned:**\n1. Call `error_code_specialist` first\n2. Based on the error, call `parts_specialist` for needed parts\n3. Call `manual_specialist` for repair procedure\n4. Call `video_specialist` for visual guide\n\n**If parts question:**\n1. Call `parts_specialist`\n2. Call `manual_specialist` for installation instructions\n\n**If \"how to\" question:**\n1. Call `manual_specialist`\n2. Call `video_specialist` for visual guide\n\n### Step 3: Synthesize Response\nCombine the specialists' responses into a clear, structured answer:\n\n🔴 **[Problem/Question]**\n\n**Diagnose:** [From error_code_specialist]\n\n**Lösung:**\n[From manual_specialist]\n\n**Benötigte Teile:**\n[From parts_specialist]\n\n🎥 **Video:**\n[From video_specialist]\n\n## Important Rules\n- ✅ ALWAYS call the appropriate specialists\n- ✅ Call multiple specialists if needed\n- ✅ Synthesize their responses into ONE coherent answer\n- ✅ Keep responses mobile-friendly\n- ✅ Use emojis for structure\n- ❌ NEVER answer without calling specialists\n- ❌ NEVER make up information\n\n## Context Awareness\n- Remember: Manufacturer, Model, Error Code from previous messages\n- For follow-up questions, use context and call specialists with that info\n\n## Language\nAlways respond in German, technical but clear."
        }
      },
      "id": "561961a8-6e44-478d-9efc-0935ba26261e",
      "name": "Main Coordinator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -256,
        -160
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "6bdb390f-d42e-4e22-94fe-151c6ac0db69",
      "name": "Main LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -656,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "d80b3e4b-c3a7-4f56-9a2d-902ad8cf9369",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        -528,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "B0uJAfAUAdsgXNJd",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "name": "error_code_specialist",
        "description": "Expert for error code diagnosis. Call this when the user mentions an error code (e.g., 'C-9402', '88.10', 'E-1234'). Returns: error description, root cause, affected components, solution steps. Input: error_code (required), manufacturer (optional), model (optional)",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"error_code\": \"88.10\",\n  \"manufacturer\": \"HP\",\n  \"model\": \"E877\"\n}",
        "options": {
          "systemMessage": "You are an **Error Code Diagnosis Specialist**.\n\nYour task: Diagnose error codes precisely using the search_database tool.\n\nWhen called with an error_code, you MUST:\n1. Call the search_database tool\n2. Format the response in German:\n\n**Fehlercode:** [code]\n**Beschreibung:** [what it means]\n**Ursache:** [root cause]\n**Betroffene Komponenten:** [affected parts]\n**Lösung:** [solution steps]\n**Quelle:** [document, page]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Be precise and technical\n- ✅ Cite sources\n- ❌ NEVER make up information\n- ❌ If not found, say so clearly"
        }
      },
      "id": "3a8f105b-e4c8-4944-a7d9-ef987505f370",
      "name": "error_code_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -400,
        560
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "name": "parts_specialist",
        "description": "Expert for spare parts and compatibility. Call this when the user asks about parts, replacements, or part numbers. Returns: part numbers, descriptions, compatible models. Input: search_term (required), manufacturer (optional), model (optional)",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"search_term\": \"Fuser Unit\",\n  \"manufacturer\": \"HP\",\n  \"model\": \"E877\"\n}",
        "options": {
          "systemMessage": "You are a **Spare Parts Specialist**.\n\nYour task: Find exact part numbers and compatibility using the search_database tool.\n\nWhen called with a search_term, you MUST:\n1. Call the search_database tool\n2. Format the response in German:\n\n**Ersatzteil:** [part name]\n**Teilenummer:** [part number]\n**Beschreibung:** [what it does]\n**Kompatible Modelle:** [compatible devices]\n**Quelle:** [catalog, page]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Provide exact part numbers\n- ✅ List compatible models\n- ✅ Cite sources\n- ❌ NEVER make up part numbers\n- ❌ If not found, suggest alternatives"
        }
      },
      "id": "67e4f6db-ee06-4e6a-b2a9-25ae2d540f17",
      "name": "parts_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -144,
        272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "name": "video_specialist",
        "description": "Expert for finding repair tutorial videos. Call this when the user needs visual guidance or asks for videos. Returns: video titles, URLs, descriptions. Input: search_term (required), manufacturer (optional), model (optional)",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"search_term\": \"Fuser Unit replacement\",\n  \"manufacturer\": \"HP\",\n  \"model\": \"E877\"\n}",
        "options": {
          "systemMessage": "You are a **Video Tutorial Specialist**.\n\nYour task: Find relevant repair videos using the search_database tool.\n\nWhen called with a search_term, you MUST:\n1. Call the search_database tool\n2. Format the response in German:\n\n**Video:** [title]\n**Link:** [URL]\n**Beschreibung:** [what the video shows]\n**Dauer:** [length]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Provide working video links\n- ✅ Describe what the video shows\n- ❌ NEVER make up video links\n- ❌ If not found, say so clearly"
        }
      },
      "id": "5e1ea2fc-4908-4287-92a2-ffb81a303db0",
      "name": "video_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        -576,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "name": "manual_specialist",
        "description": "Expert for service manual procedures and technical documentation. Call this for 'how to' questions, step-by-step instructions, or general technical information. Uses semantic search in service manuals. Input: query (required), manufacturer (optional), model (optional)",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"query\": \"How to replace fuser unit\",\n  \"manufacturer\": \"HP\",\n  \"model\": \"E877\"\n}",
        "options": {
          "systemMessage": "You are a **Service Manual Specialist**.\n\nYour task: Provide step-by-step procedures using the search_manuals tool (vector store).\n\nWhen called with a query, you MUST:\n1. Call the search_manuals tool\n2. Format the response in German:\n\n**Anleitung:** [procedure name]\n\n**Schritte:**\n1. [Step 1]\n2. [Step 2]\n3. [Step 3]\n...\n\n**Hinweise:** [important notes, warnings]\n**Werkzeug:** [required tools]\n**Quelle:** [manual, page]\n\nRules:\n- ✅ ALWAYS use the tool\n- ✅ Provide clear step-by-step instructions\n- ✅ Include safety warnings\n- ✅ Cite sources\n- ❌ NEVER make up procedures\n- ❌ If not found, say so clearly"
        }
      },
      "id": "4813fda1-3ec2-4329-9c5c-a2e58902f6c2",
      "name": "manual_specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        96,
        0
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "4b1ae9e4-0388-484f-9d6c-4c4b43579bd4",
      "name": "Error Code LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -432,
        784
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "9aea9cda-c050-4774-bdac-64ac3838b6fa",
      "name": "Parts LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -208,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "3725f9cc-88b1-4a72-9da6-c6b88a02358b",
      "name": "Video LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -576,
        400
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "57197865-e8a3-43ac-8b92-e7da753bc8b3",
      "name": "Manual LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        112,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/search/error-codes?q={{ $json.error_code }}{{ $json.manufacturer ? '&manufacturer=' + $json.manufacturer : '' }}&limit=10"
      },
      "id": "d0ee34a4-dfb2-4588-8585-8e077641f2f4",
      "name": "Search Error Codes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        -224,
        784
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/search/parts?q={{ $json.search_term }}{{ $json.manufacturer ? '&manufacturer=' + $json.manufacturer : '' }}&limit=10"
      },
      "id": "87a76fbc-61a8-48bd-873d-5c7411050a4f",
      "name": "Search Parts",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        0,
        544
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/search/videos?q={{ $json.search_term }}{{ $json.manufacturer ? '&manufacturer=' + $json.manufacturer : '' }}&limit=10"
      },
      "id": "0056a056-a2ec-437a-896a-32917e646729",
      "name": "Search Videos",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        -432,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "tableName": "krai_intelligence.chunks",
        "options": {
          "queryName": "match_chunks"
        }
      },
      "id": "bcf29546-91fc-4d64-8cae-023ae6cd7ac9",
      "name": "Search Manuals Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        288,
        416
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "VOEfJ5TSCcCT8bKn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "id": "0a9c8dd6-2ef4-46e1-9762-565144d3bcfd",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "position": [
        336,
        608
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        352,
        192
      ],
      "id": "04f4298a-7bfd-4488-a202-a060d9a7cae1",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        608,
        352
      ],
      "id": "d03b2592-ecbf-4fa8-9dac-645e246a5c21",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "KdqGhnIUPP0vQm3m",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "error_code_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "parts_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "video_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "manual_specialist": {
      "ai_tool": [
        [
          {
            "node": "Main Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Error Code LLM": {
      "ai_languageModel": [
        [
          {
            "node": "error_code_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parts LLM": {
      "ai_languageModel": [
        [
          {
            "node": "parts_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Video LLM": {
      "ai_languageModel": [
        [
          {
            "node": "video_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Manual LLM": {
      "ai_languageModel": [
        [
          {
            "node": "manual_specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Error Codes": {
      "ai_tool": [
        [
          {
            "node": "error_code_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Parts": {
      "ai_tool": [
        [
          {
            "node": "parts_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Videos": {
      "ai_tool": [
        [
          {
            "node": "video_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Search Manuals Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Search Manuals Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "manual_specialist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d6cb5b7-a1b5-4803-bd93-557a1aef2829",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6c1a437e8b16512082bde84b62b61f6117713bbbdf560b47f5bdf35aa8946c8"
  },
  "id": "bsDbJBLnO3vcs9ga",
  "tags": [
    {
      "createdAt": "2025-10-11T13:40:56.528Z",
      "updatedAt": "2025-10-11T13:40:56.528Z",
      "id": "QjiVLirWz05tDi0F",
      "name": "KRAI"
    },
    {
      "createdAt": "2025-10-11T13:42:17.259Z",
      "updatedAt": "2025-10-11T13:42:17.259Z",
      "id": "pKu5r2VTi4SrcITz",
      "name": "Production"
    }
  ]
}