n8n/workflows/v2/Tool-ErrorCodeSearch.json
{
  "name": "Tool: Error Code Search",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM krai_intelligence.search_error_codes(\n  '{{ $json.error_code }}',\n  {{ $json.manufacturer ? \"'\" + $json.manufacturer + \"'\" : \"NULL\" }},\n  {{ $json.model ? \"'\" + $json.model + \"'\" : \"NULL\" }}\n);",
        "options": {}
      },
      "id": "supabase-query",
      "name": "Supabase Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format error code results for the agent\nconst results = $input.all();\n\nif (results.length === 0) {\n  return [{\n    json: {\n      message: \"Keine Fehlercodes gefunden.\",\n      results: []\n    }\n  }];\n}\n\n// Format each result\nconst formatted = results.map(item => ({\n  error_code: item.json.error_code,\n  description: item.json.description,\n  cause: item.json.cause,\n  solution: item.json.solution,\n  page_number: item.json.page_number,\n  model: item.json.model_number,\n  manufacturer: item.json.manufacturer,\n  source: item.json.source_document\n}));\n\nreturn [{\n  json: {\n    message: `${results.length} Fehlercode(s) gefunden`,\n    results: formatted\n  }\n}];"
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Supabase Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Query": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-11T08:34:00.000Z",
  "versionId": "1"
}
