n8n/workflows/v2/Tool-DocumentationSearch.json
{
  "name": "Tool: Documentation Search",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM krai_intelligence.search_documentation_context(\n  '{{ $json.query }}',\n  {{ $json.manufacturer ? \"'\" + $json.manufacturer + \"'\" : \"NULL\" }},\n  {{ $json.model ? \"'\" + $json.model + \"'\" : \"NULL\" }},\n  {{ $json.document_type ? \"'\" + $json.document_type + \"'\" : \"NULL\" }},\n  5\n);",
        "options": {}
      },
      "id": "supabase-query",
      "name": "Supabase Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format documentation results for the agent\nconst results = $input.all();\n\nif (results.length === 0) {\n  return [{\n    json: {\n      message: \"Keine Dokumentation gefunden.\",\n      results: []\n    }\n  }];\n}\n\n// Format each result\nconst formatted = results.map(item => ({\n  chunk_id: item.json.chunk_id,\n  text: item.json.text_chunk.substring(0, 500) + '...', // Limit text length\n  page: item.json.page_number,\n  document: item.json.filename,\n  document_type: item.json.document_type,\n  manufacturer: item.json.manufacturer,\n  model: item.json.model_number,\n  relevance: Math.round(item.json.relevance_score * 100) + '%'\n}));\n\nreturn [{\n  json: {\n    message: `${results.length} Dokumenten-Abschnitt(e) gefunden`,\n    results: formatted\n  }\n}];"
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Supabase Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Query": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-11T08:46:00.000Z",
  "versionId": "1"
}
