n8n_workflows/krai-ai-agent-langchain.json
{
  "name": "KRAI AI Agent - LangChain",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [240, 300],
      "id": "chat-trigger",
      "name": "When chat message received",
      "webhookId": "krai-chat-agent-langchain"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "/search",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "search-query-check",
      "name": "Search Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "/models",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "model-lookup-check",
      "name": "Model Lookup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 60]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "/status",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "status-check",
      "name": "Status Check?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 420]
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "document_vectors"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [680, 180],
      "id": "supabase-vector-store",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "table": "products",
        "options": {
          "query": "={{ $('When chat message received').first().json.chatInput.replace('/models ', '') }}",
          "limit": 10
        }
      },
      "id": "supabase-models",
      "name": "Search Models",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 60]
    },
    {
      "parameters": {
        "resource": "function",
        "operation": "execute",
        "functionName": "get_system_status",
        "options": {}
      },
      "id": "supabase-status",
      "name": "Get System Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 420]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "ollama-model",
      "name": "Ollama Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "ollama-chat-model",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Du bist der KRAI AI Agent, ein intelligenter Assistent für technische Dokumentation und Service-Manuals. Du hilfst bei Fragen zu Druckern, Kopierern und technischen Geräten. Antworte immer auf Deutsch und sei hilfreich und präzise. Wenn der Benutzer eine Suchanfrage stellt (/search), nutze die Vector Search Ergebnisse als Kontext für deine Antwort."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [900, 300],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Format Search Results for AI Agent\nconst searchResults = $input.first().json;\nconst chatInput = $('When chat message received').first().json.chatInput;\n\nlet context = '';\nif (searchResults && searchResults.length > 0) {\n  context = 'Relevante Dokumente:\\n';\n  searchResults.forEach((result, index) => {\n    context += `${index + 1}. ${result.content ? result.content.substring(0, 200) + '...' : 'No content'}\\n`;\n  });\n}\n\nreturn {\n  chatInput: chatInput,\n  context: context,\n  results: searchResults || []\n};"
      },
      "id": "format-search-context",
      "name": "Format Search Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "jsCode": "// Format Models for AI Agent\nconst models = $input.first().json;\nconst chatInput = $('When chat message received').first().json.chatInput;\n\nlet context = '';\nif (models && models.length > 0) {\n  context = 'Verfügbare Modelle:\\n';\n  models.forEach((model, index) => {\n    context += `${index + 1}. ${model.name || 'Unknown'} (${model.model || 'Unknown'}) - ${model.manufacturer_name || 'Unknown'}\\n`;\n  });\n}\n\nreturn {\n  chatInput: chatInput,\n  context: context,\n  models: models || []\n};"
      },
      "id": "format-models-context",
      "name": "Format Models Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 60]
    },
    {
      "parameters": {
        "jsCode": "// Format Status Response\nconst statusData = $input.first().json;\nconst response = {\n  chatInput: '/status',\n  context: `System Status:\\n` +\n    `- Dokumente: ${statusData[0]?.total_documents || 0}\\n` +\n    `- Abgeschlossen: ${statusData[0]?.completed_documents || 0}\\n` +\n    `- Pending: ${statusData[0]?.pending_documents || 0}\\n` +\n    `- Chunks: ${statusData[0]?.total_chunks || 0}\\n` +\n    `- Bilder: ${statusData[0]?.total_images || 0}\\n` +\n    `- Embeddings: ${statusData[0]?.total_embeddings || 0}\\n` +\n    `- Produkte: ${statusData[0]?.total_products || 0}\\n` +\n    `- Hersteller: ${statusData[0]?.total_manufacturers || 0}`,\n  status: statusData[0] || {}\n};\n\nreturn response;"
      },
      "id": "format-status-context",
      "name": "Format Status Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Search Query?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Model Lookup?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status Check?",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Query?": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Lookup?": {
      "main": [
        [
          {
            "node": "Search Models",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check?": {
      "main": [
        [
          {
            "node": "Get System Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Format Search Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Models": {
      "main": [
        [
          {
            "node": "Format Models Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Status": {
      "main": [
        [
          {
            "node": "Format Status Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Search Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Models Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "krai-ai-agent-langchain"
  },
  "id": "krai-ai-agent-langchain",
  "tags": [
    {
      "createdAt": "2024-10-01T08:00:00.000Z",
      "updatedAt": "2024-10-01T08:00:00.000Z",
      "id": "krai-ai-agent-langchain",
      "name": "KRAI AI Agent"
    }
  ]
}
